<section class="banner_slider mbtm">
  <ul id="banner_slider">
    <li>
      <%= image_tag "t_slider_1.jpg", alt: "Banner Slider" %>
      <div class="slider_content">
        <p class="b_dark"> we need your support</p>
        <span class="clear"></span>
        <p class="b_green"> to educate, feed and accomodate!</p>
      </div>
    </li>
    <li>
      <%= image_tag "t_slider_2.jpg", alt: "Banner Slider" %>
      <div class="slider_content">
        <p class="b_dark"> we need your support</p>
        <span class="clear"></span>
        <p class="b_green"> to educate, feed and accomodate!</p>
      </div>
    </li>
    <li>
      <%= image_tag "t_slider_3.jpg", alt: "Banner Slider" %>
      <div class="slider_content">
        <p class="b_dark"> we need your support</p>
        <span class="clear"></span>
        <p class="b_green"> to educate, feed and accomodate!</p>
      </div>
    </li>
    <li>
      <%= image_tag "t_slider_4.jpg", alt: "Banner Slider" %>
      <div class="slider_content">
        <p class="b_dark"> we need your support</p>
        <span class="clear"></span>
        <p class="b_green"> to educate, feed and accomodate!</p>
      </div>
    </li>
    <li>
      <%= image_tag "t_slider_5.jpg", alt: "Banner Slider" %>
      <div class="slider_content">
        <p class="b_dark"> we need your support</p>
        <span class="clear"></span>
        <p class="b_green"> to educate, feed and accomodate!</p>
      </div>
    </li>
  </ul>
</section>

<section id="ngo_features" class="mbtm">
  <section class="container-fluid container">
    <section class="row-fluid">
      <%= render "mission" %>
    </section>
  </section>
</section>

<section id="donation_box" class="mbtm">
  <section class="container container-fluid">
    <section class="row-fluid">
      <%= render "donate" %>
    </section>
  </section>
</section>

<section id="events_videos" class="mbtm">
  <section class="container-fluid container">
    <section class="row-fluid">
      <figure class="span6 first" id="video_slider">
        <%= render "recent_videos" %>
      </figure>

      <figure class="span5" id="news_accordion">
        <%= render "upcoming_events" %>
      </figure>
    </section>
  </section>
</section>

<section id="blog_store" class="mbtm">
  <section class="container-fluid container">
    <section class="row-fluid">
      <figure id="blog" class="span6 first">
        <%= render "recent_blog_posts" %>
      </figure>

      <figure id="shop" class="span6">
        <%= render "products" %>
      </figure>
    </section>
  </section>
</section>
