<section class="banner_slider mbtm">
  <ul id="banner_slider">
    <li>
      <%= image_tag "t_slider_1.jpg", alt: "Banner Slider" %>
      <div class="slider_content">
        <p class="b_dark"> we need your support</p>
        <span class="clear"></span>
        <p class="b_green"> to educate, feed and accomodate!</p>
      </div>
    </li>
    <li>
      <%= image_tag "t_slider_2.jpg", alt: "Banner Slider" %>
      <div class="slider_content">
        <p class="b_dark"> we need your support</p>
        <span class="clear"></span>
        <p class="b_green"> to educate, feed and accomodate!</p>
      </div>
    </li>
    <li>
      <%= image_tag "t_slider_3.jpg", alt: "Banner Slider" %>
      <div class="slider_content">
        <p class="b_dark"> we need your support</p>
        <span class="clear"></span>
        <p class="b_green"> to educate, feed and accomodate!</p>
      </div>
    </li>
    <li>
      <%= image_tag "t_slider_4.jpg", alt: "Banner Slider" %>
      <div class="slider_content">
        <p class="b_dark"> we need your support</p>
        <span class="clear"></span>
        <p class="b_green"> to educate, feed and accomodate!</p>
      </div>
    </li>
    <li>
      <%= image_tag "t_slider_5.jpg", alt: "Banner Slider" %>
      <div class="slider_content">
        <p class="b_dark"> we need your support</p>
        <span class="clear"></span>
        <p class="b_green"> to educate, feed and accomodate!</p>
      </div>
    </li>
  </ul>
</section>

<section id="ngo_features" class="mbtm">
  <section class="container-fluid container">
    <section class="row-fluid">
      <figure class="span3 feature">
        <div class="ftr_img f-img-1">
          <span class="img"> River Floods </span>
        </div>
        <div class="ftr_txt">
          <strong> River Floods </strong>
          <p> River floods prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
        </div>
      </figure>

      <figure class="span3 feature">
        <div class="ftr_img f-img-2">
          <span class="img"> Volcanic Eruptions </span>
        </div>
        <div class="ftr_txt">
          <strong> Volcanic Eruptions </strong>
          <p> Volcano alorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
        </div>
      </figure>

      <figure class="span3 feature">
        <div class="ftr_img f-img-3">
          <span class="img"> Thunder Storms  </span>
        </div>
        <div class="ftr_txt">
          <strong> Thunder Storms </strong>
          <p> Malorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
        </div>
      </figure>

      <figure class="span3 feature">
        <div class="ftr_img f-img-4">
          <span class="img"> Tsunami </span>
        </div>
        <div class="ftr_txt">
          <strong> Tsunami </strong>
          <p> An malorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
        </div>
      </figure>
    </section>
  </section>
</section>

<section id="donation_box" class="mbtm">
  <section class="container container-fluid">
    <section class="row-fluid">
      <figure class="span10">
        <h2> Sometimes it takes a <strong> natural disaster </strong> to reveal a <strong> social disaster!</strong> </h2>
      </figure>
      <figure class="span2">
        <form action="#">
          <input type="hidden" value="5.00" name="amout" />
          <input type="hidden" value="USD" name="Currency" />
          <button  data-placement="top" rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle" type="submit">Donate Now</button>
        </form>
      </figure>
    </section>
  </section>
</section>

<section id="progress_news" class="mbtm">
  <section class="container-fluid container">
    <section class="row-fluid">
      <figure class="span6 first" id="charity_progress">
        <h3> Help Us build Charity Hospital </h3>

        <div id="charity_process_inner">
          <div class="span5 img first">
            <%= image_tag "progress_image.jpg" %>
          </div>

          <div class="span7 progress_report">
            <h2> $18,387 </h2>
            <h4> Pledged of $200,000 Goal</h4>
            <div class="progress progress-striped active m9p">
              <div class="bar p80"></div>
            </div>
            <br />
            <div class="info">
              <div class="span6 first">
                <i class="icon-user"></i> <span> 47 </span> Pledgers
              </div>

              <div class="span6 ntr">
                <i class="icon-calendar-empty"></i> <span> 204 </span> Days Left
              </div>
            </div>
          </div>
        </div>
      </figure>

      <figure class="span6" id="news">
        <ul id="news_slider">
          <li>
            <div class="span5 first" id="img_holder">
              <div class="img">
                <%= image_tag "slider_2_img.jpg", alt: "" %>
              </div>
              <div class="img_title">
                <a href="#"> <i class="icon-plus"></i> </a>
                <a href="#"> Katrina  disasters </a>
                <p> News about Katrina victams </p>
              </div>
            </div>
            <div class="span7 ns_desc" >
              <a href="#" class="title"> City destroyed after devastating Katrina Floods  <span class="h-line"></span> </a>
              <p> News of charity campaigns lorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at... </p>
              <a href="#" class="rm"> View All News &nbsp;  <i class="icon-plus"></i></a>
            </div>
          </li>

          <li>
            <div class="span5 first" id="img_holder">
              <div class="img">
                <%= image_tag "slider_2_img.jpg", alt: "" %>
              </div>
              <div class="img_title">
                <a href="#"> <i class="icon-plus"></i> </a>
                <a href="#"> Katrina  disasters </a>
                <p> News about Katrina victams </p>
              </div>
            </div>
            <div class="span7 ns_desc" >
              <a href="#" class="title"> City destroyed after devastating Katrina Floods  <span class="h-line"></span> </a>
              <p> News of charity campaigns lorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at... </p>
              <a href="#" class="rm"> View All News &nbsp;   <i class="icon-plus"></i></a>
            </div>
          </li>
        </ul>
      </figure>
    </section>
  </section>
</section>

<section id="events_videos" class="mbtm">
  <section class="container-fluid container">
    <section class="row-fluid">
      <figure class="span6 first" id="video_slider">
        <%= render "recent_videos" %>
      </figure>

      <figure class="span5" id="news_accordion">
        <%= render "upcoming_events" %>
      </figure>
    </section>
  </section>
</section>

<section id="blog_store" class="mbtm">
  <section class="container-fluid container">
    <section class="row-fluid">
      <figure id="blog" class="span6 first">
        <h2 class="title"> from our blog
          <span class="h-line"></span>
        </h2>

        <div id="slider_blog">
          <ul id="blog_slider">
            <li>
              <div class="img span5"><%= image_tag "blog_img.jpg", alt: "" %></div>

              <div class="content span7">
                <div class="icon_date">
                  <i class="icon-picture" ></i>
                  <span class="date" > May 15, 2013 </span>
                </div>

                <div class="post_excerpt">
                  <h4> <a href="#"> Donate for Charity Event </a> </h4>
                  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                  <a href="#"> Read More <i class="icon-plus"></i> </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </figure>

      <figure id="shop" class="span6">
        <%= render "products" %>
      </figure>
    </section>
  </section>
</section>
