<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Oklahoma Atheists</title>

    <!--[if lt IE 9]>
      <%= javascript_include_tag :html5shiv %>
    <![endif]-->
    <!--[if lt IE 9]>
      <%= javascript_include_tag :mq %>
    <![endif]-->

    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag :application %>
    <!--[if lte IE 9]><%= stylesheet_link_tag :customIE %><![endif]-->
    <noscript>
      <%= stylesheet_link_tag :nj %>
    </noscript>

    <%= javascript_include_tag :application %>
    <!--[if IE 8]>
      <%= javascript_include_tag :ie8_fix_maxwidth %>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <section class="top_bar">
          <section class="container-fluid container">
            <section class="row-fluid">
              <article class="span6">
                <%= render "layouts/header_contact_info" %>
              </article>

              <article class="span4 offset2">
                <%= render "layouts/header_social_media" %>
              </article>
            </section>
          </section>  
        </section>

        <section class="logo_container">
          <section class="container-fluid container">
            <section class="row-fluid">
              <section class="span4">
                <h1 id="logo">
                  <%= link_to image_tag("logo.png"), root_path %>
                </h1>
              </section>
            
              <section class="span5 pull-right">
                <figure class="charity_counter_wrapper">
                  <section class="span5">
                    <div class="charity_title">
                      Charity <br /> Marathon 2013
                    </div>
                  </section>
                  <section class="span1 event_more pull-right"> <a href="event_detail.html"  data-placement="bottom" rel="tooltip" title="View Event Detail" > <i class="icon">+</i>  </a> </section>
                  <section class="span6 counter_bg pull-right">
                    <div id="countdown162" class="tCountdOwn">
                    </div>
                  </section>
                </figure>
              </section>
            </section>
          </section>
        </section>
  
        <nav id="nav">
          <section class="container-fluid container">
            <section class="row-fluid">
              <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                  <div class="nav-collapse collapse">
                    <ul class="nav">
                      <li class="active"> <a href="index.html"> Home </a> </li>
                      <li class="dropdown"> <a class="dropdown-toggle" href="about-us.html">  About<b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                          <li><a href="team.html"> Organizers</a></li>
                          <li><a href="career.html">Careers</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"> <a class="dropdown-toggle" href="event_listing.html"> Charity Events  <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                          <li><a href="event_detail.html">Event Detail</a></li>
                          <li><a href="event_calander.html">Event Calander</a></li>
                          <li><a href="event_venue.html">Event Venue</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"> <a class="dropdown-toggle" href="crowdfunding_listing.html" >  Projects  <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                          <li><a href="crowdfunding_listing.html">Project Listing</a></li>
                          <li><a href="crowdfunding_detail.html">Project Detail</a></li>
                          <li><a href="crowdfunding_payment.html">Project Payment </a></li>
                        </ul>
                      </li>
                      <li class="dropdown"> <a class="dropdown-toggle" href="product_listing_list.html" >  Charity Store <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                          <li><a href="product_listing_grid.html">Store Grid View</a></li>
                          <li><a href="product_listing_list.html">Store List View</a></li>
                          <li><a href="product_detail.html">Product Detail</a></li>
                          <li><a href="cart.html">Cart Page</a></li>
                          <li><a href="checkout.html">Checkout Page</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"> <a class="dropdown-toggle" href="blog.html" >  Blog <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                          <li><a href="blog.html">Blog Listing</a></li>
                          <li><a href="blog_detail.html">Single Post</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"> <a class="dropdown-toggle" href="gallery_1_col.html" >  Gallery <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                          <li>  <a href="gallery_1_col.html">Single Column      </a></li>
                          <li>  <a href="gallery_2_col.html">  Two Column    </a></li>
                          <li>  <a href="gallery_3_col.html">  Three Column  </a></li>
                          <li>  <a href="gallery_4_col.html">  Four Column    </a></li>
                          <li>  <a href="gallery_detail.html">  Gallery Detail    </a></li>
                        </ul>
                      </li>
                      <li class="dropdown"> <a class="dropdown-toggle" href="#" >  Pages <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                          <li><a href="faqs.html">Frequently Asked Questions </a></li>
                          <li><a href="404.html">404 Page </a></li>
                          <li><a href="search.html">Search Page </a></li>
                          <li><a href="sitemap.html">Sitemap </a></li>
                          <li><a href="shortcodes.html">ShortCodes </a></li>
                        </ul>
                      </li>
                      <li> <a href="contact_us.html"> Contact </a> </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="nav_search pull-right"> <form method="post" actoion="#"> <input type="text" value="Search Here..." name="s" id="s" /> <button><i class="icon-search"></i> </button></form></div>
            </section>
          </section>
        </nav>
      </header>

      <%= yield %>

      <footer id="footer" class="mtp">
        <section class="footer_1">
          <section class="container-fluid container">
            <section class="row-fluid">
              <section id="banner" class="span12 first"> 
                <div class="inner"> 
                  <div class="span9">
                    <h2> Free shipping on all orders over $75 </h2>
                    <h3> * FREE OVER $125 for international orders </h3>
                  </div>
                  <div class="pull-left span3">
                    <div id="banner_rounded" class="img-circle">
                      <h3>  DELIVERED TO YOUR DOOR IN <span> 3 days </span> </h3>
                    </div>
                  </div>
                </div>
              </section>
        
              <section class="span12 first" id="footer_main">
                <section class="span3 first widget">
                  <h4>GET IN <span> Touch </span> <span class="h-line"></span> </h4>
            
                  <form id="contact_form" method="post" action="contact.php">
                    <input type="text" value="Name"  name="name" required/>
                    <input type="email" value="Email" name="email" required />
                    <textarea rows="5" cols="20" name="comments" required>Comments</textarea>
                    <input type="submit" name="submit" value="Send Message" />
                  </form>
                </section>

                <section class="span3 widget popular_post"> 
                  <h4>Blog Popular <span> Post </span> <span class="h-line"></span> </h4>
                  
                  <ul id="popular_post">
                    <li> <span> <i class="icon-facetime-video"></i> </span> <p> Assum mucius maiestatis et nam purto virtute   </p></li>      
                    <li> <span> <i class="icon-volume-up"></i></span> <p> <a href="#"> Assum mucius maiestatis et nam purto virtute  </a> </p></li>      
                    <li> <span> <i class="icon-picture"></i> </span> <p> Assum mucius maiestatis et nam purto virtute   </p></li>      
                    <li> <span> <i class="icon-volume-up"></i> </span> <p> Assum mucius maiestatis et nam purto virtute   </p></li>  
                  </ul>

                  <a class="v-a" href="http://themeforest/user/crunchpress/">+ View All <span class="h-line"></span></a>
                </section>

                <section class="widget span3"> 
                  <h4>Latest Twitter <span> Updates </span> <span class="h-line"></span> </h4>

                  <ul id="tweets_crunchpress">
                    <li> New Theme Called Fine Food ready to rocks! Check this out! <span> <a href="#"> http://fb.me/90DF91 </a> </span> <span> - 2 hour ago </span> </li>
                    <li> The Church Issues Fixed. I hope update will be ready  soon. Then you guys download it. Before upload new  <span> <a href="#">http://fb.me/4rtIOlp9  </a> </span> <span> -1 Day ago </span> </li>
                  </ul>

                  <a class="v-a" href="http://themeforest/user/crunchpress/">+ View All <span class="h-line"></span></a>
                </section>

                <section class="span3 widget">
                  <h4>LATEST EVENTS <span> GALLERY </span> <span class="h-line"></span> </h4>
                  
                  <ul class="gallery-list gallery_widget">
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_1.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_3.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_2.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_5.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_3.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_2.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_4.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_4.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_3.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_2.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_4.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_4.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_2.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_5.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_1.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_3.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_2.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_5.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_1.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_3.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_3.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_2.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                    <li class="view_new view-tenth">
                      <%= image_tag "gallery_img_4.jpg", alt: "" %>
                      <div class="mask">
                        <%= link_to "&nbsp;".html_safe, image_path("t_slider_4.jpg"), class: "image-gal info", rel: "prettyPhoto[gallery1]", title: "" %>
                      </div>
                    </li>
                  </ul>
          
                  <a class="v-a" href="http://themeforest/user/crunchpress/">+ View All <span class="h-line"></span></a>
                </section>
              </section>
            </section>
          </section>
        </section>
  
        <section class="footer_2">
          <section class="container-fluid container">
            <section class="row-fluid">
              <figure class="span6" id="footer_left"><%= render "layouts/footer_contact_info" %></figure>

              <figure class="span6" id="footer_right">
                <%= render "layouts/footer_social_media" %>
              </figure>
            </section>
          </section>
        </section>
  
        <section class="footer_3">
          <section class="container-fluid container">
            <section class="row-fluid">
              <figure class="span6" id="footer_left">
                <ul class="footer_nav"> 
                  <li> <a href="index.html">  Home     </a> </li>
                  <li> <a href="shortcodes.html">   Features  </a> </li>
                  <li> <a href="blog.html">   Blog     </a> </li>
                  <li> <a href="shortcodes.html">   Portfolio  </a> </li>
                  <li> <a href="contact_us.html">   Contact    </a> </li>
                </ul>

                <p>Copyright © <%= Time.now.year %> &ndash; Oklahoma Atheists</p>
              </figure>
      
              <figure class="span6" id="footer_right">
                <div id="tweets" class="latest_tweets">
                  <ul id="latest_tweets">
                    <li> Have a look at new theme of crunchpress at <a href="http://www.themeforest.net/user/crunchpress"> http://bit.ly/ju89ytg </a> - we've added new great stuff and refreshed the theme!</li>
                  </ul>
                </div>
              </figure>
            </section>
          </section>
        </section>
      </footer>
    </div>
  </body>
</html>
