<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Oklahoma Atheists</title>

    <link rel="icon" type="image/x-icon" href="<%= image_path("favicon.ico") %>">

    <!--[if lt IE 9]>
      <%= javascript_include_tag :html5shiv %>
    <![endif]-->
    <!--[if lt IE 9]>
      <%= javascript_include_tag :mq %>
    <![endif]-->

    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag :application %>
    <!--[if lte IE 9]><%= stylesheet_link_tag :customIE %><![endif]-->
    <noscript>
      <%= stylesheet_link_tag :nj %>
    </noscript>

    <%= javascript_include_tag :application %>
    <!--[if IE 8]>
      <%= javascript_include_tag :ie8_fix_maxwidth %>
    <![endif]-->

    <%= yield(:head) %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <section class="top_bar">
          <section class="container-fluid container">
            <section class="row-fluid">
              <article class="span6">
                <%= render "layouts/header_contact_info" %>
              </article>

              <article class="span4 offset2">
                <%= render "layouts/header_social_media" %>
              </article>
            </section>
          </section>
        </section>

        <section class="logo_container">
          <section class="container-fluid container">
            <section class="row-fluid">
              <section class="span12">
                <h1 id="logo">
                  <%= link_to image_tag("banner.png"), root_path %>
                </h1>
              </section>
            </section>
          </section>
        </section>

        <nav id="nav">
          <section class="container-fluid container">
            <section class="row-fluid">
              <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                  <div class="nav-collapse collapse">
                    <%= render "layouts/header_nav_links" %>
                  </div>
                </div>
              </div>
            </section>
          </section>
        </nav>
      </header>

      <%= yield %>

      <footer id="footer" class="mtp">
        <section class="footer_1">
          <section class="container-fluid container">
            <section class="row-fluid">
              <section id="banner" class="span12 first">
                <div class="inner">
                  <div class="span12">
                    <%= render "layouts/footer_join_banner" %>
                  </div>
                </div>
              </section>

              <section class="span12 first" id="footer_main">
                <section class="span3 first widget">
                  <%= render "layouts/footer_contact_form" %>
                </section>

                <section class="span3 widget popular_post">
                  <%= render "layouts/footer_blog_posts" %>
                </section>

                <section class="widget span3">
                  <%= render "layouts/footer_tweets" %>
                </section>

                <section class="span3 widget">
                  <%= render "layouts/footer_friends" %>
                </section>
              </section>
            </section>
          </section>
        </section>

        <section class="footer_2">
          <section class="container-fluid container">
            <section class="row-fluid">
              <figure class="span6" id="footer_left"><%= render "layouts/footer_contact_info" %></figure>

              <figure class="span6" id="footer_right">
                <%= render "layouts/footer_social_media" %>
              </figure>
            </section>
          </section>
        </section>

        <section class="footer_3">
          <section class="container-fluid container">
            <section class="row-fluid">
              <figure class="span6" id="footer_left">
                <%= render "layouts/footer_nav_links" %>

                <p>Copyright © <%= Time.now.year %> &ndash; Oklahoma Atheists</p>
              </figure>

              <figure class="span6" id="footer_right">
                <div id="tweets" class="latest_tweets">
                  <%= render "layouts/footer_quotes" %>
                </div>
              </figure>
            </section>
          </section>
        </section>
      </footer>
    </div>
  </body>
</html>
